
<%= error_messages_for 'invoice_payment' %>

<div class="box tabular">
<p><%= f.text_field :amount, :label => l(:field_invoice_amount), :size => 10, :required => true %></p>
<p><%= f.text_field :payment_date, :label => l(:label_invoice_payment_date), :size => 12, :required => true %><%= calendar_for('invoice_payment_payment_date') %> </p>
<p><%= f.text_field :exchange_rate, id: 'transaction_exchange_rate',:label => l(:field_exchange_rate), :size => 10, :required => true, :value => 1.00  %></p>
<p><%= f.text_field :description, :style => "width: 98%;" %></p>
<p><%= f.text_field :transaction_reference  %></p>
<p><%= f.text_field :bank_reference  %></p>
<%@invoice_payment.build_payment_transaction_fee%>
<%=f.fields_for :payment_transaction_fee do |fee| %>
<p>
  <%= fee.text_field :fee_amount, id: 'transaction_fee_amount', :label => l(:fee_amount), :size => 10, :required => true %>
  <span id="fee_amount_percentage"></span>
</p>
<p>
  <%= fee.text_field :fee_percentage, id: 'transaction_fee_percentage', :label => l(:fee_percentage), :size => 10  %>
  <span id="fee_percentage_amount"></span>
</p>
<p><%= fee.text_field :description,:label => l(:fee_description),:required => true, :style => "width: 50%;" %></p>
<p><label for="payment_net_Amount">Net Payment</label>
  <input id="payment_net_Amount" type="text" size="10" required="required" name="Net_Amount" label="Net Amount" value="<%=@invoice_payment.amount%>" ></input></p>
<% end %>

<p><%= f.text_field :converted_amount, id: 'transaction_converted_amount',:label => l(:field_converted_amount), :size => 10,:value => @invoice_payment.amount %></p>


<p><%= f.select :converted_currency, collection_for_currencies_select(@invoice_payment.currency, ContactsSetting.major_currencies), :label => l(:field_converted_currency), :include_blank => true  %></p>
 

<% @invoice_payment.custom_field_values.each do |value| %>
  <p>
    <%= custom_field_tag_with_label :invoice_payment, value %>
  </p>
<% end -%>

</div>

<fieldset><legend><%= l(:label_attachment_plural) %></legend>
<% if @invoice_payment.attachments.any? -%>
  <%= link_to_attachments @invoice_payment, :thumbnails => true %>
<% end %>

<p><%= render :partial => 'attachments/form', :locals => {:container => @invoice_payment} %></p>
</fieldset>  
<br>

<script>
  $( "#transaction_fee_amount" ).change(function () {
    var inputtxt = $("#transaction_fee_amount");  
    if( inputtxt.val().match(/^-?\d*(\.\d+)?$/)) {   
      var netAmount = $("#payment_net_Amount");
      var feeAmountPercentageView = $("#fee_amount_percentage");
       var invoiceAmount = $("#invoice_payment_amount"); 
       
    
      var feeAmount = (inputtxt.val()*1.0).toFixed(2);
      var feeAmountPercentage = ((feeAmount/invoiceAmount.val())*100).toFixed(2);
      feeAmountPercentageView.text(feeAmountPercentage+'%');
      
      
      var feePercentageAmount = $("#transaction_fee_percentage").val()/100*invoiceAmount.val();
      var totalFee = feePercentageAmount*1.0 + feeAmount*1.0;
      
      netAmount.val((invoiceAmount.val()*1.0 - totalFee).toFixed(2));
      
      inputtxt.val(feeAmount);
        
   
    } else {
      inputtxt.val('');
    }     
  });
  $( "#transaction_fee_percentage" ).change(function () {
    var inputtxt = $("#transaction_fee_percentage");  
    if( inputtxt.val().match(/^-?\d*(\.\d+)?$/)) {   
      var feePercentageAmountView = $("#fee_percentage_amount");
     
      var netAmount = $("#payment_net_Amount"); 
      var invoiceAmount = $("#invoice_payment_amount"); 
     
      var feePercentage = (inputtxt.val()*1.0).toFixed(2);      
      var feePercentageAmount = (feePercentage/100*invoiceAmount.val()).toFixed(2);
      feePercentageAmountView.text(feePercentageAmount);
      
      var feeAmount = $( "#transaction_fee_amount").val()*1.0;
      var totalFee = feePercentageAmount*1.0 + feeAmount*1.0;
      
      netAmount.val((invoiceAmount.val()*1.0 - totalFee).toFixed(2));
      
      inputtxt.val(feePercentage);
     
    } else {
      inputtxt.val('');
    }     
  });
  $( "#payment_net_Amount" ).change(function () {
    var inputtxt = $("#payment_net_Amount");  
    if( inputtxt.val().match(/^-?\d*(\.\d+)?$/)) {   
      var feeAmount = $("#transaction_fee_amount");
      var invoiceAmount = $("#invoice_payment_amount"); 
      var feePercentage = $("#transaction_fee_percentage"); 
      
      var netAmount = (inputtxt.val()*1.0).toFixed(2);
      var totalFee = (invoiceAmount.val()*1.0 - netAmount*1.0).toFixed(2);
      
      feeAmount.val(totalFee);
      feePercentage.val('');
      inputtxt.val(netAmount);
     
      
      $("#fee_percentage_amount").text('');
      $("#fee_amount_percentage").text('');
    } else {
      inputtxt.val('');
    }
  });
  $( "#invoice_payment_amount" ).change(function () {
    var inputtxt = $("#invoice_payment_amount");  
    if( inputtxt.val().match(/^-?\d*(\.\d+)?$/)) {   
      var feePercentageAmountView = $("#fee_percentage_amount");
      var invoiceAmount = $("#invoice_payment_amount"); 
      var netAmount = $("#payment_net_Amount"); 
      
      var feePercentage = ($("#transaction_fee_percentage").val()*1.0).toFixed(2);      
      var feePercentageAmount = (feePercentage/100*invoiceAmount.val()).toFixed(2);
      if(feePercentage > 0) {
        feePercentageAmountView.text(feePercentageAmount);
      }
      
      var feeAmount = $( "#transaction_fee_amount").val()*1.0;
      var totalFee = feePercentageAmount*1.0 + feeAmount*1.0;
      
      netAmount.val((invoiceAmount.val()*1.0 - totalFee).toFixed(2));
      
      inputtxt.val((invoiceAmount.val()*1.0).toFixed(2));
      
  
      
     var convertedCurrencyView = $("#transaction_converted_amount");
     var exchangeRateView = $("#transaction_exchange_rate");
     
     var convertedCurrencyValue = (exchangeRateView.val()*invoiceAmount.val());
     convertedCurrencyView.val(convertedCurrencyValue.toFixed(4)); 
      
    } else {
      inputtxt.val('');
    }
  });
  $("#transaction_exchange_rate" ).change(function () {
   var inputtxt = $("#transaction_exchange_rate"); 
   if( inputtxt.val().match(/^-?\d*(\.\d+)?$/)) {
     var convertedCurrencyView = $("#transaction_converted_amount");
     var invoiceAmount = $("#invoice_payment_amount"); 
     
     var convertedCurrencyValue = (inputtxt.val()*invoiceAmount.val());
     convertedCurrencyView.val(convertedCurrencyValue.toFixed(2));
     
   inputtxt.val((inputtxt.val()*1.0).toFixed(4));
     
   }else {
      inputtxt.val('');
    }
    
  });
  $( "#transaction_converted_amount" ).change(function () {
  var inputtxt = $("#transaction_converted_amount"); 
   if( inputtxt.val().match(/^-?\d*(\.\d+)?$/)) {
     var exchangeRateView = $("#transaction_exchange_rate");
     var invoiceAmount = $("#invoice_payment_amount");
     
     var exchangeRateValue=(inputtxt.val()/invoiceAmount.val());
     exchangeRateView.val(exchangeRateValue.toFixed(4));
     
     inputtxt.val((inputtxt.val()*1.0).toFixed(2));
     
     
   }else {
      inputtxt.val('');
    }
    
  });
</script>
