<h2><%= "Edit Invoice Payments"%></h2>

<div class="row">
  <div>
    <div>
      <%#= form_tag({controller: :invoice_payments, action: :edit}) do %>
<%= labelled_form_for :invoice_payment, @invoice_payment, :url => {:action => 'edit', :project_id => @project}, :html => { :multipart => true, :id => 'invoice_payment_form'} do |f|  %> 
 
        <%#*<fieldset>%>

          <%#*<table>%>
            <%#*<tr>%>    
              <%#*<th>%>
                <%#=  label_tag "Description" %>
              <%#*</th>%>
              <%#*<td>%>
                <%#= text_field_tag :description  ,params[:description] || '' %>
              <%#*</td>%> 
            <%#*</tr>%>
           
            <%#*<tr>%>
              <%#*<td>%>
                <%#= submit_tag "Update",:id => 'button-update'%>
              <%#*</td>%>
            <%#*</tr>%>
          <%#*</table>%>
        <%#*</fieldset>%>
      <div>   
     <p><%= f.text_field :description, :style => "width: 98%;" %></p>
<p><%= submit_tag l(:button_save) -%></p>
</div> 
      <fieldset><legend><%= l(:label_attachment_plural) %></legend>
<% if @invoice_payment.attachments.any? -%>
  <%= link_to_attachments @invoice_payment, :thumbnails => true %>
<% end %>

<p><%= render :partial => 'attachments/form', :locals => {:container => @invoice_payment} %></p>
</fieldset>  
      
       
      <% end %>
    </div>


  </div>
</div>