<h1>Listing payments</h1>
Result: <%=@result%><br/>
Transaction: <%=@transaction%><br/>
ResponseCode is: <%=@transaction.getResponseCode%><br/>
ResponseDescription is: <%=@transaction.getResponseDescription%><br/>
Transaction ID is: <%=@transaction_id%><br/>
Balance is: <%=@balance%><br/> 
Approval Code is: <%=@approval_code%><br/>