<%= javascript_include_tag 'ZeroClipboard.min.js', :plugin => 'redmine_payments' %>
<%= stylesheet_link_tag 'jquery.fancybox.css',:plugin => 'redmine_payments' %>
<%= stylesheet_link_tag 'shareable_link_fancybox.css',:plugin => 'redmine_payments' %>
<%= javascript_include_tag 'jquery.fancybox.pack.js',:plugin => 'redmine_payments' %>
<!-- Button trigger modal -->
<div id="heading">
  <h2 id="left_title">Make Payment</h2>
  <input type="button" id="Share_button" value="Share"> 
</div>

<div style="display:none;" class="modal fade">
  <div class="modal-dialog" id="mybox">
    <div class="modal-content">
      <div class="modal-header">
       <h3 class="modal-title">Shareable Link</h3>
       <br>
      </div>
      <div class="modal-body">
     
        <textarea id="pay_url" rows="2" cols="58"><%= shared_invoice_payments_url(payment.invoice.token || payment.invoice.generate_token) %></textarea>
        <br>
        <button type="button" id="copy" data-clipboard-target='pay_url' name="copy" value="Copy Link">Copy Link</button>
        <span id="copy-result"></span>
      </div>
      <div class="modal-footer">
        <%= button_to "Reset URL",generate_invoice_payment_token_project_payments_path(payment.invoice), remote: true %>
      </div>
    </div>
  </div>
</div>
<br>
<%= error_messages_for payment%>
<%= labelled_form_for payment, url: register_project_payments_path(payment.project), html: {method: :post} do |f| %>

<div>   
<table>
    
     <tr align="left" class="<%= cycle("odd")%>" >
     <th><strong>Project Name:</strong></th>
     <td><%=payment.project.name %></td>
     </tr>
     <tr align="left" class="<%= cycle("even")%>" >
     <th><strong>Sub Project :</strong></th>
     <td><%=payment.invoice.project.name %></td>
     </tr>
     <tr align="left" class="<%= cycle("odd")%>" >
     <th><strong>Client Name:</strong></th>
     <td><%=payment.customer_name %></td>
     </tr>
     <tr align="left" class="<%= cycle("even")%>" >
     <th><strong>Invoice Number :</strong></th>
     <td><%=payment.invoice.number %></td>
     </tr>
    </table> 
</div>
<div class="box tabular">
    <%= f.hidden_field :project_id %>
    <%= f.hidden_field :invoice_id %>
    <p><%= f.text_field :invoice_amount %> Remaining Balance: <%= payment.remaining_balance_to_s%></p> 
    <p><%= f.text_field :payment_amount %></p>
  </div>
  <p class="buttons">
    <%= f.button l(:make_payment)%>
  </p>
<%end%>
<% OpenExchangeRates.configuration.app_id = Setting.plugin_redmine_payments['open_exchange_rate_app_id']%>
<%= javascript_include_tag 'money', plugin: 'redmine_payments' %>
<%= moneyjs_currency_rates %>
  <script>
    $(document).ready(function() {
      $('#payment_invoice_amount').change(function() {
        var result = fx.convert($(this).val(), {from: '<%=Setting.plugin_redmine_payments['invoice_currency']%>', to: '<%=Setting.plugin_redmine_payments['payment_currency']%>'});
        result = parseFloat(Math.round(result * 100) / 100).toFixed(2);
        $('#payment_payment_amount').val(result);
      });
      $('#payment_payment_amount').change(function() {
        var result = fx.convert($(this).val(), {from: '<%=Setting.plugin_redmine_payments['payment_currency']%>', to: '<%=Setting.plugin_redmine_payments['invoice_currency']%>'});
        result = parseFloat(Math.round(result * 100) / 100).toFixed(2);
        $('#payment_invoice_amount').val(result);
      });
       $('#Share_button').on('click', function() {
        $.fancybox({
          href : '#mybox'
        }); 
    });
    });
    
   var client = new ZeroClipboard( document.getElementById("copy") );

  client.on( "ready", function( readyEvent ) {
    // alert( "ZeroClipboard SWF is ready!" );

    client.on( "aftercopy", function( event ) {
      // `this` === `client`
      // `event.target` === the element that was clicked
      //event.target.style.display = "none";
      $('#copy-result').text('Copied to Clipboard')
    } );
  } );
  </script>
