<% content_for :header_tags do %>
<%= stylesheet_link_tag 'shareable_link_fancybox.css',:plugin => 'redmine_payments' %>
<%= stylesheet_link_tag 'jquery.fancybox.css',:plugin => 'redmine_payments' %>
<%= stylesheet_link_tag 'wice_grid', :plugin => 'redmine_wice_grid' %>
<%= stylesheet_link_tag 'grid',:plugin => 'redmine_payments' %>
<%= javascript_include_tag 'ZeroClipboard.min.js', :plugin => 'redmine_payments' %>
<%= javascript_include_tag 'jquery.fancybox.pack.js',:plugin => 'redmine_payments' %>
<%= javascript_include_tag 'application', :plugin => 'redmine_wice_grid' %>
<%= javascript_include_tag 'ntogglework', :plugin => 'redmine_payments' %>
<%end%>
  <h2><%= "Pending Invoices"%></h2>

<!-- Modal -->
<div style="display:none;" class="modal fade">
  <div class="modal-dialog" id="mybox">
    <div class="modal-content">
      <div class="modal-header">
       <h3 class="modal-title">Shareable Link</h3>
       <br>
      </div>
      <div class="modal-body">
     
        <textarea id="payment_url" rows="2" cols="58"> <%= shared_project_payments_url(@project_token) %></textarea>
        <br>
        <input type="button" id="copy" data-clipboard-target='payment_url' name="copy" value="Copy Link" />
      </div>
      <div class="modal-footer">
        <%= button_to "Reset URL", generate_project_invoice_token_project_payments_path(@project), remote: true %>
      </div>
    </div>
  </div>
</div>

<%unless @invoices.any?%>
<br>
<br>
<strong>Yay! No pending invoice found.</strong>

    
<%else%>
<%= render partial: 'grid' %>
<button id="export-button" class="wg-external-csv-export-button" data-grid-name="grid"><%=image_tag("/plugin_assets/redmine_payments/images/icons/grid/page_white_excel.png", :alt => "home image",:title => "Export to CSV")%> Export to CSV</button>
<input type="button" id="Share_button" value="Share"> 
<br>
<br>
<fieldset id="filters" class="collapsible collapsed">
<legend onclick="toggleFieldset(this);">Filters</legend>
<br>
<div id="filters_div" style="display: none">
<div id="left">
<label>Invoice ID : </label><span class="criteria"> <%= grid_filter @tasks_grid, :id_filter %></span><br>
<label>Invoice Number         : </label> <span class="criteria"><%= grid_filter @tasks_grid, :invoicenumber_filter %></span><br>
<label>Client Name         : </label> <span class="criteria"><%= grid_filter @tasks_grid, :client_filter %></span><br>
</div>
  <div id="center">
<label>Project ID   : </label> <span class="criteria"><%= grid_filter @tasks_grid, :projectid_filter %></span><br>
<label>Invoice Date    : </label> <span class="criteria"><%= grid_filter @tasks_grid, :invoicedate_filter %></span><br>
<label>Due Date    : </label> <span class="criteria"><%= grid_filter @tasks_grid, :duedate_filter %></span><br>
  </div>
  <div class="clear"></div>
<br>
<button class="wg-external-submit-button" data-grid-name="grid">Submit</button>
<button class="wg-external-reset-button" data-grid-name="grid">Reset</button> 
<br>
</div>
</fieldset>
<br>
<%=render_grid(@tasks_grid) %>
<br>
<%end%>

<script>
  $(document).ready(function() {
        $('#Share_button').on('click', function() {
        $.fancybox({
          href : '#mybox'
        }); 
    });
    });
  var client = new ZeroClipboard( document.getElementById("copy") );

  client.on( "ready", function( readyEvent ) {
    // alert( "ZeroClipboard SWF is ready!" );

    client.on( "aftercopy", function( event ) {
      // `this` === `client`
      // `event.target` === the element that was clicked
      //event.target.style.display = "none";
      
    } );
  } );

  </script>
