<h1>Listing payments</h1>
Result: <%=@result%><br/>
Transaction: <%=@transaction%><br/>
ResponseCode is: <%=@payment.response_code%><br/>
ResponseDescription is: <%=@payment.response_description%><br/>
Transaction ID is: <%=@payment.transaction_id%><br/>
Approval Code is: <%=@payment.approval_code%><br/>